<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate"> 
    <meta http-equiv="Pragma" content="no-cache">
  </head>
    <body>
      <div class="page-content-wrapper">
        <div class="container p-1 my-1 bg-light">
          <div class="row">
            <div class="col"><span>Hi {{currentUser}}, here’s what’s happening in your&nbsp;store.</span></div>
            <div class="col">
              <span class="btn btn-outline-secondary float-right">Today</span>
              <span class="btn btn-outline-secondary float-right">This Week</span>
              <span class="btn btn-outline-secondary float-right">This Month</span>
            </div>
          </div>
          
        </div>

        
        <div class="container p-1 my-1 bg-light">
          <h1> there will be the activity like reports of Selling</h1>
        </div>
      </div>
    </body>
</html>