

<div class="row p-lg-4">
  <div class="col-8">
    <h2 class="h4 mb-0">Hi logged user first name, here's what's happening in your store.</h2>
  </div>
  <div class="col justify-content-between align-items-end">
    <button class="btn border" id="notifyTopLeft">Today</button>
    <button class="btn border" id="notifyTopRight">This Week</button>
    <button class="btn border" id="notifyBottomLeft">This Month</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <button class="btn btn-info" id="notifyTopLeft">Top left info</button>
              <button class="btn btn-danger" id="notifyTopRight">Top right danger</button>
              <button class="btn btn-warning" id="notifyBottomLeft">Bottom left warning</button>
              <button class="btn btn-primary" id="notifyBottomRight">Primary bottom right</button>
          </div>
      </div>
  </div>
</div>
