

<div class="row p-1 justify-content-between">
    <div class="col-sm-3 p-4 card border-light align-items-center">
        <div class="icon icon-shape icon-shape-soft-green rounded-circle mr-4 mr-sm-0"><span class="fas fa-home"></span></div>
        <div class="d-sm-none">
            <div class="row">Set up your Outlets and Registers.</div>
            <div class="row">accurately report on sales performance and manage your inventory.</div>
            <div class="row"> <a href="#" class="link">More on Outlets & Registers<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-success" data-toggle="modal" data-target="#modal-outlet">Add an Outlet</button>
            </div>
        </div>
        <div class="d-none d-sm-block">
            <div class="row"><h2 class="mb-1"> up your Outlets and Registers.</h2></div>
            <div class="row"><h3 class="form-text text-muted"> accurately report on sales performance and manage your inventory.</h3></div>
            <div class="row"><a href="#" class="link">More on Outlets & Registers<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-success" data-toggle="modal" data-target="#modal-outlet">Add an Outlet</button>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-4 card border-light align-items-center">
        <div class="icon icon-shape icon-shape-soft-green rounded-circle mr-4 mr-sm-0"><span class="fas fa-cogs"></span></div>
        <div class="d-sm-none">
            <div class="row"><h2 class="mb-1">Organaize your Sales Taxes</h2></div>
            <div class="row"><h3 class="h6">To make sure your products reports and accounting systems all work in sync.</h3></div>
            <div class="row"><a href="#" class="link">More on Sales Taxes<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-tertiary">Add Sales Taxes</button>
            </div>
        </div>
        <div class="d-none d-sm-block">
            <div class="row"><h2 class="mb-1">Organaize your Sales Taxes</h2></div>
            <div class="row"><h3 class="form-text text-muted">To make sure your products reports and accounting systems all work in sync.</h3></div>
            <div class="row"><a href="#" class="link">More on Sales Taxes<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-tertiary">Add Sales Taxes</button>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-4 card border-light align-items-center">
        <div class="icon icon-shape icon-shape-soft-green rounded-circle mr-4 mr-sm-0"><span class="fas fa-credit-card"></span></div>
        <div class="d-sm-none">
            <div class="row"><h2 class="mb-1">Create different Payment Types.</h2></div>
            <div class="row"><h3 class="h6">Start accepting multiple types of payments in your Outlets.</h3></div>
            <div class="row"><a href="#" class="link">More on Payments<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-tertiary">Add Payments Types</button>
            </div>
        </div>
        <div class="d-none d-sm-block">
            <div class="row"><h2 class="mb-1">Create different Payment Types.</h2></div>
            <div class="row"><h3 class="h6">Start accepting multiple types of payments in your Outlets.</h3></div>
            <div class="row"><a href="#" class="link">More on Payments<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-tertiary">Add Payments Types</button>
            </div>

        </div>
    </div>

    <div class="col-sm-3 p-4 card border-light align-items-center">
        <div class="icon icon-shape icon-shape-soft-green rounded-circle mr-4 mr-sm-0"><span class="fas fa-box-open"></span></div>
        <div class="d-sm-none">
            <div class="row"><h2 class="mb-1">Get your products into Cashco POS</h2></div>
            <div class="row"><h3 class="h6">Start off with accurate inventory levels and get selling in-store faster.</h3></div>
            <div class="row"><a href="#" class="link">More on Product in Cashco<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-tertiary">Add Products</button>
            </div>
        </div>
        <div class="d-none d-sm-block">
            <div class="row"><h2 class="mb-1">Get your products into Cashco POS</h2></div>
            <div class="row"><h3 class="h6">Start off with accurate inventory levels and get selling in-store faster.</h3></div>
            <div class="row"><a href="#" class="link">More on Product in Cashco<span class="icon-shape-soft-green fas fa-external-link-alt"></span></a>
              <button class="btn btn-tertiary">Add Products</button>
            </div>
        </div>
    </div>
    
</div>

<!-----------------------------------------------------------------------------Buttons modal-->
<!--Add an Outlet Modal Content -->
<div class="modal fade" id="modal-outlet" tabindex="-1" role="dialog" aria-labelledby="modal-outlet" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Terms of Service</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <form action="#" class="mt-4">
                    <!-- Form -->
                    <div class="form-group mb-4">
                        <label for="exampleInputEmailCard1">Your Email</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                            <input type="email" class="form-control" placeholder="example@company.com" id="exampleInputEmailCard1">
                        </div>  
                    </div>
                    <!-- End of Form -->
                    <div class="form-group">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="exampleInputPasswordCard1">Your Password</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                <input type="password" placeholder="Password" class="form-control" id="exampleInputPasswordCard1">
                            </div>  
                        </div>
                        <!-- End of Form -->
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                <label class="form-check-label" for="defaultCheck5">
                                  Remember me
                                </label>
                            </div>
                            <div><a href="#" class="small text-right">Lost password?</a></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->