

<div class="row mb-4 mb-3">
    <div class="col">
        <!-- Form -->
        <button ng-disabled="getTotalPrk() == 0" class="btn bg-white m-0 p-0" ng-click="popRSale()">
            <span class="icon icon-small ml-1"><span class="fas fa-reply mr-2"></span></span>Retrieve Sale
        </button>
        <!-- End of Form -->
    </div>
    <div class="col">
        <!-- Form -->
        <button ng-disabled="getTotal() + getTotalPrk() == 0" class="btn bg-white m-0 p-0" ng-click="showQS('PS')">
            <span class="icon icon-small ml-1"><span class="fas fa-history mr-2"></span></span>Park Sale
        </button>
    </div>
    <div class="col">
        <!-- Form -->
            <button ng-disabled="getTotal() + getTotalPrk() == 0" class="btn bg-white m-0 p-0" for="" data-toggle="dropdown" data-targe="#mactions-ddl" aria-haspopup="true" aria-expanded="false">
                <span class="icon icon-small ml-1"><span class="fas fa-chevron-down mr-2"></span></span>More Actions...
            </button>
            <!----------------------------Dropdown data-->
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2" id="mactions-ddl">
                <a class="dropdown-item font-weight-bold" href="" ng-click="showQS()"><span class="fas fa-quote-left mr-2"></span>Quote Sale </a>
                <a class="dropdown-item font-weight-bold" href=""><span class="fas fa-check mr-2"></span>Mark as Unfulfillments</a>
                <a class="dropdown-item font-weight-bold" href=""><span class="fas fa-trash mr-2"></span>Discard Sale</a>
            </div>
            <!----------------------------end of Dropdown-->
        <!-- End of Form -->
    </div>

    <div class="input-group">
        <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
        <input type="text" ng-click="false" uib-popover-template="searchCustom.templateUrl" popover-is-open="searchCustom.isOpen" ng-change="searchCustom.open(customer)" popover-placement="bottom" ng-model="customer" class="form-control" placeholder="Add Customer">
    </div>
    
    <!--------this part is retrived section of Sale which is parked-->
    <div class="doc-sidebar-40">
        <div ng-if="rTrue" ng-include src="'modules/sell/views/component/sell_parkedHtml.html'"></div>
        <!----------add product to the pay list--------------------------------------------->
        <div ng-include src="'modules/sell/views/component/addPLtoCart.html'"></div>
        <!----------end of adding product to pay list---------------------------------------->
    </div><!--------end of the right panel row-->

    <div class="row mb-1 border mr-1 ml-1"><!--  footing of right section of sell-->
        <div class="col-7"><label>ADD</label></div>
        <div class="col-sm-3 text-right"><label>Promo Code</label></div>
        <div class="col-sm-2 text-right text-success"><a href="" ng-click="ShowHide()">Note</a></div>
    </div>
    <div class="row mb-1 border mr-1 ml-1" ng-show="isVisiable"><!----this part used for showing a note-->
        <div class="col-11">
            <label for="note"><span class="h3">Note </span>Customers will be able to see this note on their receipt</label>
            <div class="input-group">
                <input type="text" ng-model="item.note" placeholder="Enter a note about this sale" class="form-control" ng-value="item">
            </div>
        </div>
        <div class="col-sm-1 mt-5"><a href="" ng-click="hideItem();" class="fas fa-trash-alt text-right text-success"></a></div> 
    </div><!-- End of the Add Note-->
    <div class="row mb-1 border mr-1 ml-1"><!--------Subtotal-->
        <div class="col-7"><label>Subtotal</label></div>
        <div class="col-sm-4 text-right pr-4"><label ng-model="Subtotal" ng-value="{{getTotal() + getTotalPrk()}}">{{currency}}{{ getTotal() + getTotalPrk() | number:2}}</label></div>
    </div>
    <div class="row mb-1 border mr-1 ml-1"><!--  footing of right section for Discount-->
        <div class="col-6 text-left"><!-----------this column used for popover for Discount-->
            <a class="text-success" uib-popover-template="dcntPopover.templateUrl" popover-is-open="dcntPopover.isOpen" ng-click="dcntPopover.open()" popover-title="Add Discount" popover-placement="left" href="">Discount</a>
            <span>{{dcount}}{{dcntSign}}</span>
        </div>
        <!--------------------look for discount eighter it is % or ...-->
        <div ng-switch = "dcntSign" class="col-sm-5 pl-0 text-right">
            <label ng-switch-when="%" ng-model="totDcnt" ng-value="{{((dcount/100) * (getTotal() + getTotalPrk()))}}">-{{currency}}{{((dcount/100) * (getTotal() + getTotalPrk())) | number: 2}}</label>
            <label ng-switch-when ="$" ng-model="totDcnt" ng-value="{{dcount}}">-{{dcount}}{{currency}}</label>
        </div>
        <!----Delete the total discount-->
        <div class="col-sm-1 pr-0 text-right"><a href="" ng-click="rDcnt()" class="fas fa-trash-alt text-right text-success"></a></div>
    </div>
    <div class="row mb-1 border mr-1 ml-1"><!--  footing of right section for Tax-->
        <div class="col-6"><label>Tax No Tax</label></div>
        <div class="col-sm-5 pr-0 text-right"><label>{{currency}}{{getTax() | number: 2}}</label></div>
    </div>

    <!----pass the value for pay button click-->
    <div class="row" ng-switch="dcntSign">
        <button ng-switch-when="%" ng-click="showPay((getTotal() + getTotalPrk()) - ((dcount/100) * (getTotal() + getTotalPrk())));" class="row mb-1 border mr-1 ml-1 bg-success pt-2 pb-2 pr-3" ng-show="getTotal() + getTotalPrk() != 0"><!--  footing of right section for Payment-->
          <div class="col-6 text-left"><span>Pay {{getTotItem() + getTotalQty()}} item</span></div>
          <div class="col-sm-5 pr-0 text-right">
            <span>{{currency}}{{(getTotal() + getTotalPrk()) - ((dcount/100) * (getTotal() + getTotalPrk())) | number: 2}}</span>
          </div>
        </button>
        <button ng-switch-when="$" ng-click="showPay((getTotal() + getTotalPrk()) - dcount);" class="row mb-1 border mr-1 ml-1 bg-success" ng-show="getTotal() + getTotalPrk() != 0"><!--  footing of right section for Payment-->
          <div class="col-6 text-left"><span>Pay {{getTotItem() + getTotalQty()}} item</span></div>
          <div class="col-sm-5 pr-0 text-right">
            <span>{{currency}}{{(getTotal() + getTotalPrk()) - dcount | number: 2}}</span>
          </div>
        </button>
    </div>
</div>