

<div class="row mb-4 mt-3">
    <div class="col-9 ml-4"><span class="h2">Give {{currency}}{{collect - payVl | number:2}} Change</span></div>
</div>
<button type="button" class="btn btn-lg btn-success pr-5 pl-5 ml-4" ng-click="printDiv('psale')">Print</button>
<div class="row"><!-------------------this row is used for adding a customer to pay-->
    <div class="col-sm-11">
        <!-- Form -->
        <div class="mb-3">
            <div class="input-group ml-4">
                <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                <input type="text" ng-model="cstmr" class="form-control" placeholder="Add a Customer to pay with the following option">
            </div>
        </div>
        <!-- End of Form -->
    </div>
</div><!--------End of the Add Customer-->
<div class="row"><!-----this row used for options to pay a customer for you-->
    <div class="col-sm-9 ml-4">
        <!-- Form -->
        <div class="mb-3">
            <div class="input-group">
                <button type="button" class="btn btn-lg btn-success pl-7 pr-7" ng-click="competPay()">Complet Tutorial</button>
            </div>
        </div>
        <!-- End of Form -->
    </div>
</div><!--------End of the Add options-->

