
<details ng-open="showDetails" class="border">
    <summary class="row mb-3 pl-4 pt-2"><!-------header retrieved sales-->
        <div class="col-sm-1"><label for="qty">{{qty1}}</label></div>
        <div class="col-sm-4"><label for="qtname">my coloths</label></div>
        <div class="col-6 text-right"><label for="price">{{currency}}{{(qty1 * price1) - ((discont1/100) * (qty1 * price1)) | number:2}}</label></div>     
    </summary>
    <!------- end of header retrieved sales-->
    <div class="row mb-3 mb-4 multi-level pl-3"><!-------------collapse content-->
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <label for="txtQty">Quantity</label>
                    <div class="input-group">
                        <input type="text" ng-model="qty1" class="form-control" id="qty1" ng-value="{{qty1}}">
                    </div>
                </div>
                <div class="col">
                    <label for="price">Price</label>
                    <div class="input-group">
                        <input type="text" ng-model="price1" class="form-control" id="price1" ng-value="{{price1}}">
                    </div>
                </div>
                <div class="col">
                    <label for="discont">Discount(%)</label>
                    <div class="input-group">
                        <input type="text" ng-model="discont1" class="form-control" id="discount1" ng-value="{{discont1}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="txtnote">Note</label>
                    <div class="input-group">
                        <input type="text" ng-model="txtnote" class="form-control" id="note" placeholder="Type to add note...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <a href="" class="link">Show Inventory & Details</a>
                </div>
            </div>
        </div>
        
    </div>
    <!------- end of collapse retrieved sales-->  
</details>

<details ng-open="showDetails" class="border">
    <summary class="row mb-3 pl-4 pt-2"><!-------header retrieved sales-->
        <div class="col-sm-1"><label for="qty2">{{qty2}}</label></div>
        <div class="col-sm-4"><label for="qtname">my coloths</label></div>
        <div class="col-6 text-right"><label for="price2">{{currency}}{{(qty2 * price2) - ((discont2/100) * (qty2 * price2)) | number:2}}</label></div>     
    </summary>
    <!------- end of header retrieved sales-->
    <div class="row mb-3 mb-4 multi-level pl-3"><!-------------collapse content-->
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <label for="txtQty">Quantity</label>
                    <div class="input-group">
                        <input type="text" ng-model="qty2" class="form-control" id="qty2" ng-value="{{qty2}}">
                    </div>
                </div>
                <div class="col">
                    <label for="price">Price</label>
                    <div class="input-group">
                        <input type="text" ng-model="price2" class="form-control" id="price2" ng-value="{{price2}}">
                    </div>
                </div>
                <div class="col">
                    <label for="discont">Discount(%)</label>
                    <div class="input-group">
                        <input type="text" ng-model="discont2" class="form-control" id="discount2" ng-value="{{discont2}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="txtnote">Note</label>
                    <div class="input-group">
                        <input type="text" ng-model="txtnote" class="form-control" id="note" placeholder="Type to add note...">
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="input-group">
                    <a href="" class="link">Show Inventory & Details</a>
                </div>
            </div>
        </div>
        
    </div>
    <!------- end of collapse retrieved sales-->  
</details>
