

<div class="row p-0">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6 pr-5">
                        <!-- Form -->
                        <div class="mb-3">
                            <label for="srchProduct">Search for Products</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-search"></span></span>
                                <input type="text" class="form-control" id="srchProduct" placeholder="Start typeing or scanning..." aria-label="Search">
                            </div>
                        </div>
                        <!-- End of Form -->
                    </div>
                    <div class="col-sm-6">
                        <div class="row mb-4 mb-3">
                            <div class="col">
                                <!-- Form -->
                                    <!-- Button Modal -->
                                    <a href="" ng-click="popRSale()">
                                        <span class="icon icon-small ml-1"><span class="fas fa-reply mr-2"></span></span>Retrieve Sale
                                    </a>
                                <!-- End of Form -->
                            </div>
                            <div class="col">
                                    <label for="" data-toggle="modal" data-target="#parked-ddl">
                                        <span class="icon icon-small ml-1"><span class="fas fa-history mr-2"></span></span>Park Sale
                                    </label>
                                    <!-- Modal Content -->
                                    <div class="modal fade" id="parked-ddl" tabindex="-1" role="dialog" aria-labelledby="parked-ddl" aria-hidden="true">
                                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                                            <div class="modal-content bg-gradient-secondary">
                                                <div class="modal-header">
                                                    <p class="modal-title" id="modal-title-notification">A new experience, personalized for you.</p>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="py-3 text-center">
                                                        <span class="modal-icon display-1-lg"><span class="far fa-envelope-open"></span></span>
                                                        <h2 class="h4 modal-title my-3">Important message!</h2>
                                                        <p>Do you know that you can assign status and relation to a company right in the visit list?.</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-white">Go to Inbox</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Modal Content -->
                                <!-- End of Form -->
                            </div>
                            <div class="col">
                                <!-- Form -->
                                    <label for="" data-toggle="dropdown" data-targe="#mactions-ddl" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-small ml-1"><span class="fas fa-chevron-down mr-2"></span></span>More Actions...
                                    </label>
                                    <!----------------------------Dropdown data-->
                                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2" id="mactions-ddl">
                                        <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>parked </a>
                                        <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-store mr-2"></span>unfulfillments</a>
                                    </div>
                                    <!----------------------------end of Dropdown-->
                                <!-- End of Form -->
                            </div>

                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                                <input type="text" ng-model="customer" class="form-control" id="customer" placeholder="Add Customer" aria-label="customer">
                            </div>
                            
                            <!--div ng-bind-html="htmlPopover"></div--><!--------this part is retrived section of Sale which is parked-->
                            <div ng-if="rTrue">
                                <div ng-include ng-controller="sellCtrl" src="'modules/sell/views/component/sellRet.html'"></div>
                            </div>

                        </div><!--------end of the right panel row-->
                        <div class="row mb-4 mb-3 border mr-1 ml-1"><!--  footing of right section of sell-->
                            <div class="col-7"><label>ADD</label></div>
                            <div class="col-sm-3 text-right"><label>Promo Code</label></div>
                            <div class="col-sm-2 text-right"><a href="" ng-click="addNot">Note</a></div>
                        </div>
                        <div class="row mb-4 mb-3 border mr-1 ml-1"><!--------Subtotal-->
                            <div class="col-7"><label>Subtotal</label></div>
                            <div class="col-sm-3 text-right"><label>
                                {{currency}}{{Subtotal | number:2}}
                            </label>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
