<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate"> 
    <meta http-equiv="Pragma" content="no-cache">
  </head>
    <body>
      <div class="page-content-wrapper">
        <div class="container p-1 my-1 bg-light">
          <div class="row">
            <div class="col"><h2>Customers</h2></div>
          </div>
          <div class="row">
            <div class="col">
                <span>Manage your customers and their balances, or segment them by demographics and spending habits. Need help?</span>
                <i class="fa fa-external-link vd-ml1 vd-icon"></i>
            </div>
            </div>
        </div>
      </div>
    </body>
</html>